ul {
    list-style-type: none;
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}

li {
    float: left;
    border-right: 1px solid #bbb;
}

li:last-child {
    border-right: none;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}

body{
    text-align: center;
    margin: 0;
}

h1{
    font-family: 'Courier New', Courier, monospace;
    margin: 5%;
}


.imputs{
    border-radius: 8px;
    border: 5px solid rgb(76, 74, 77);
    width: 80%;
    padding: 20px;
    margin-left: 7.5%;
    margin-right: 10%;
    text-align: center;
}

.imputs input{
    width: 90%;
    padding: 5px;
    margin: 5px;
    margin-right: 5px;
}

button{
    font-family: 'Courier New', Courier, monospace;
    border-radius: 5px;
    background-color: rgb(76, 74, 77);
    color: aliceblue;
    padding: 5px;
    margin: 10px;
}
.active{
    background-color: rgb(255, 255, 255);
    color: #111;

}
.active:hover{
    background-color: #111;
    color: aliceblue;
}